/* ====>>>>>>>>>>>>> FONTS <<<<<<<<<<<<<==== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* >>>>>>>>> GLOBAL STYLES <<<<<<<< */

*:not(i){
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

::before,::after{
    box-sizing: border-box;
}

#loading{
    width: 100%; height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    width: 100%;
    color: var(--bg-black-100);
    margin-top: 27px;
}

input{
    caret-color: var(--main);
}

:root{
    /* ===================== HEX ======================= */

    /*Main COLOR*/
    --main: #1fc586;

    /* Neutro COLOR */
    --neutro-white:#f9f6f6;
    --neutro-black:#363636;
    --neutro-gray:#ccc;

    /* MULTICOLOR */
    --red:#cc3a3b;
    --yellow:#FFFF64;
    --orange:#F5792A;
    --brown: #9b6330;
    --green:#1fc586;
    --purple:#8056e3;
    --violet:#FF61F6;
    --blue:#2eb1ed;
    --bluex:#326CE5;
    --pink:#fb839e;

    /* GLOWCOLOR */
    --glow-green:#23d6928a;
    --glow-yellow:#fdfd6ec4;
    --glow-bluex:#3d75eec5;
    --glow-white:#f8f8f5cb;
    --glow-red: #d13b3bda;

    /* Background */
    --bg-black-900: #000;
    --bg-black-100: #ddd;
    --bg-black-50: #eff0f4;
    --bg-opacity: rgba(255,255,255,0.5);
    --bg-black-70: #d2d6df;
    --text-black-900: #000;
    --text-black-700: #555;
    --text-black-600: #667;
    --text-black-400: #ccc;
    --text-black-300: #bbb;
    --text-black-200: #f5f6f6;

    /* Shadow */
    --outer-shadow: -3px -3px 3px #ffffff5d, 3px 3px 3px #d3d3d33a;
    --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
    --inner-shadow: inset 3px 3px 3px #d0d0d0a6, inset -3px -3px 3px #f8f8f8;
    --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;


    /* ================================== RGB ======================================= */
    /* ================================== HSL ======================================= */

}

.poppins{
    font-family: 'Poppins', sans-serif;
}

mark{
    background-color: var(--green);
    color: white;
}

mark a{
    background-color: var(--green);
    color: white;
}

.links a:hover{
    text-decoration: underline;
}

blockquote{
    color: var(--text-black-600);
    margin-top: 17px;
    opacity: 77%;
}

strong blockquote{
    opacity: 50%;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
}

::selection{
    color: var(--neutro-white);
    background-color: var(--green);
    /* -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
}

/* width */
::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 17px;
    box-shadow: 5px 5px 10px #e1e1e1 inset,
                -5px -5px 10px #fff inset; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 17px;
    box-shadow: -5px -5px -5px #e1e1e1 inset,
                 5px  5px  5px #f2f2f2 inset; 
    background-color: #eeeeee;
  }

body{
    font-size: 17px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);
}

body.hidden-scrolling{
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: var(--main);
}

strong, b{
    font-weight: bold;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
    max-width: 100%;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.__grid-owl__{

}

.container{
    max-width: 1140px;
    /* background-color: red; */
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.outer-shadow{
    box-shadow: var(--outer-shadow);
}

.inner-shadow{
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow{
    position: relative;
    z-index: 1;
}

.hover-in-shadow:hover{
    box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    transition: all 0.3s ease;
    z-index: -1;
}

.hover-in-shadow:hover::after{
    box-shadow: var(--inner-shadow);
}

.align-items-center{
    align-items: center;
}

.btn-1{
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 500;
    color: var(--green);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
    border: none;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.home-text .btn-1::before{
    content: "About Me";
}

.btn-1::after{
    border-radius: 30px;
}

.change{
    color: var(--green);
}

.skills-progress-title{
    margin-top: 7px;
    margin-bottom: 70px;
    position: relative;
    text-align: center;
    color: var(--text-black-600);
}


/* ================>> EFFECTS <<================ */

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}
.effect-1{
    width: 30px; height: 30px;
    border: 4px solid #8a49ff;
    right: 10%; bottom: 10%;
    animation: spin 10s linear infinite;
}

.effect-2 div{
    width: 4px; height: 4px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}

.effect-2{
    left: 3%;
    bottom: 20%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-3{
    width: 180px; height: 180px;
    border: 25px solid var(--green);
    border-radius: 50%;
    left: 50%;
    top: -120px;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4{
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    left: 30%;
    top: 20%;
    animation: spin 15s linear infinite;
}

.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid #06d79c;
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}

.effect-5{
    width: 50px; height: 50px;
    right: 10%;
    top: 30%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;
}

.effect-5 div{
    width: 1px;
    background-color: #4dd0e1;
    height: 100%;
    display: flex;
    z-index: 100;
    top: 0px;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
}

@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px);
    }
}

@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.section-title{
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2{
    /* background-color: blue; */
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: uppercase;
    margin: 0;
}

.section-title h2::before{
    /* background-color: greenyellow; */
    content: attr(data-heading);
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: var(--green);
}

.section.hide{
    display: none;
}

/* ===>>>>>>>>>>>>>>>> HEADER <<<<<<<<<<<<<<<<=== */

.header{
    /* background-color: red; */
    padding: 20px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    /* Glass

    -webkit-backdrop-filter:saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px); */
}

.header .hamburger-btn{
    width: 40px; height: 40px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.header .hamburger-btn::after{
    border-radius: 50%;
}

.header .hamburger-btn span{
    display: block;
    width: 16px;
    height: 2px;
    background-color: var(--bg-black-900);
    position: relative;
}

.header .hamburger-btn span::before,
.header .hamburger-btn span::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-900);
}

.header .hamburger-btn span::before{
    top:-6px;
}

.header .hamburger-btn span::after{
    top: 6px;
}

.header .logo a{
    /* width: 40px; height: 40px; */
    background-color: transparent;
    display: inline-block;
    text-align: center;
    content: "";
    z-index: -1;
    /* line-height: 36px;
    font-size: 24px; */

/* >>> Letter-Logo <<< */
    /* color: var(--green);
    border: 2px solid var(--green);
    border-radius: 50%; <-- no important!
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;*/
}

.change-color:hover{
    fill: var(--green);
}

/* >>>>>>>>>> NAVIGATION MENU <<<<<<<<<< */

.nav-menu{
    position: fixed;
    background-color: var(--bg-black-50);
    padding: 0 15px;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    z-index: -1; /*999 -1*/
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
}

.fade-out-effect{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-black-50);
    z-index: -1;
    visibility: hidden;
}

.fade-out-effect.active{
    visibility: visible;
    z-index: 1000;
    animation: fadeOut 0.3s ease-out;
    -webkit-animation: fadeOut 0.3s ease-out;
}

@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.nav-menu.open{
    visibility: visible;
    opacity: 1;
    z-index: 999;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.nav-menu .close-nav-menu{
    width: 40px; height: 40px;
    display: block;
    font-size: 35px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    text-align: center;
    color: var(--text-black-600);
    transition: all 0.3s ease;
}

.nav-menu .close-nav-menu:after{
    border-radius: 50%;
}

.nav-menu .close-nav-menu:hover{
    color: red;
}

.nav-menu-inner{
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul{
    /* background-color: violet; */
    padding: 15px;
}

.nav-menu ul li{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.nav-menu ul li:last-child{
    margin-bottom: 0px;
}

.nav-menu ul li a{
    display: inline-block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-black-700);
    padding: 5px 30px;
    text-transform: capitalize;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.nav-menu ul li a.active{
    color: var(--green);
}

.nav-menu ul li a:after{
    border-radius: 30px;
}

.nav-menu .copyright-text{
    position: absolute;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
    left: -140px;
}

/* >>>>>>>>>> HOME SECTION <<<<<<<< */

.home-section{
    position: relative;
}

.home-section .full-screen{
     /* background-color: blue; */
     padding: 50px 0;
     min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}
/*
.home-section .home-text{
    background-color: violet;
} */

.home-section .home-text p{
    color: var(--text-black-300);
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
}

.home-section .home-text h2{
    font-size: 55px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 0;
}

.home-section .home-text h1{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-black-700);
    margin: 0;
    /* text-transform: capitalize; */
}

.home-section .home-text .btn-1{
    margin-top: 30px;
}

.home-section .home-img .img-box{
    /* background-color: red; */
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}
.home-section .home-img .img-box img{
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
    object-fit: cover;
}

/* >>>>>>>>>> ABOUT SECTION <<<<<<<<< */

.about-section{
    /* background-color: red; */
    padding: 80px 0 0;
    min-height: 100vh;
}

.about-section .about-img{
    /* background-color: blue; */
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.about-section .about-img .img-box{
    padding: 15px;
    border-radius: 5px;
}

.about-section .about-img .img-box img{
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
    object-fit: cover;
}

.about-section .about-img .social-links{
    /* background-color: red; */
    margin-top: 20px;
    text-align: center;
}

.about-section .about-img .social-links a{
    display: inline-block;
    width: 40px; height: 40px;
    font-size: 17px;
    text-align: center;
    line-height: 40px;
    color: var(--text-black-600);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.about-section .about-img .social-links a i{
    line-height: 40px;
}

.about-section .about-img .social-links a::after{
    border-radius: 50%;
}

.about-section .about-img .social-links a:hover{
    color: var(--green);
}

.about-section .about-info{
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    /* background-color: red; */
}

.about-info b{
    color: var(--text-black-600);
    transition-delay: 2.5s;
}

.about-section .about-info p{
    font-size: 17px;
    line-height: 20.7px;
    margin-bottom: 15px;
    color: var(--text-black-600);
}

.about-section .about-info span{
    font-weight: 600;
}

.about-section .about-info .btn-1{
    margin: 30px 20px 0 0;
}

.about-section .about-tabs{
    /* background-color: red; */
    padding: 30px 15px 30px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: -40px;
}

.about-section .about-tabs .tab-item{
    display: inline-block;
    margin: 0 5px 10px;
    /* border: 1px solid red; */
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-size: 17px;
    color: var(--text-black-600);
    font-weight: 500;
    text-transform: capitalize;
}

.about-section .about-tabs .tab-item:hover:not(.active){
    opacity: 0.6;
}

.about-section .about-tabs .tab-item.active{
    color: var(--green);
}

.about-section .tab-content{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
}

.about-section .tab-content.active{
    display: block;
    animation: fadeInTop 0.5s ease;
}

.about-section .skills{
    padding: 0 0 40px;
}

.about-section .skills .skill-item{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
}

.about-section .skills .skill-item p{
    font-size: 17px;
    color: var(--text-black-600);
    text-transform: capitalize;
    margin: 0 0 10px;
}

.about-section .skills .skill-item .progress{
    height: 20px;
    border-radius: 10px;
    position: relative;
}

.about-section .skills .skill-item .progress-bar{
    background-color: var(--green);
    height: 6px;
    left: 7px;
    top: 7px;
    position: absolute;
    border-radius: 10px;
}

.about-section .skills .skill-item .progress-bar span{
    /* display: none; */
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-black-600);
    margin-top: -40px;
}

.progress-icons{
    fill: var(--text-black-600);
    height: 37px;
    padding: 7px;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}

.progress-icons:hover{
    cursor: pointer;
    fill: var(--green);
}

.about-section .education,
.about-section .experience{
    padding-bottom: 80px;
}

.about-section .timeline{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}

.about-section .timeline .timeline-item{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.about-section .timeline::before{
    content: '';
    width: 1px; height: 100%;
    background-color: var(--bg-black-100);
    position: absolute;
    left: 50%;
    top: 0;
}

.about-section .timeline .timeline-item:nth-child(odd){
    padding-right: calc(50% + 50px);
    text-align: right;
}

.about-section .timeline .timeline-item:nth-child(even){
    padding-left: calc(50% + 50px);
}

.about-section .timeline .timeline-item-inner{
    padding: 30px;
    border-radius: 5px;
    position: relative;
}

.about-section .timeline .timeline-item-inner .icon{
    width: 40px; height: 40px;
    background-color: var(--bg-black-50);
    text-align: center;
    border: 1px dashed var(--bg-black-100);
    border-radius: 50%;
    font-size: 17px;
    color: var(--green);
    line-height: 40px;
    position: absolute;
    top: 18px;
}

.about-section .timeline .timeline-item:nth-child(odd) .icon{
    right: -70px;
}

.about-section .timeline .timeline-item:nth-child(even) .icon{
    left: -70px;
}

.about-section .timeline .timeline-item-inner::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--bg-black-100);
    top: 37px;
    z-index: -1;
}

.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before{
    right: -30px;
}

.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner::before{
    left: -30px;
}

.about-section .timeline .timeline-item-inner span{
    font-weight: 500;
    color: var(--green);
    display: block;
    margin: 0 0 10px;
    text-transform: capitalize;
}

.about-section .timeline .timeline-item-inner h3{
    font-size: 20px;
    color: var(--text-black-700);
    font-weight: 600;
    margin: 0 0 5px;
}

.about-section .timeline .timeline-item-inner h4{
    font-size: 17px;
    font-style: italic;
    color: var(--text-black-600);
    margin: 0;
}

.about-section .timeline .timeline-item-inner p{
    font-size: 17px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 15px 0 0;
}


/* >>>>>>>>>> SERVICE SECTION <<<<<<<<< */

.service-section{
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.service-section .service-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.service-section .service-item-inner{
    padding: 50px 15px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    cursor: initial;
}

.service-section .service-item-inner:active{
    cursor: initial;
}

.service-section .service-item-inner .icon{
    width: 60px; height: 60px;
    text-align: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: block;
    margin: 0 auto 30px;
    position: relative;
}

.service-section .service-item-inner .icon::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.service-section .service-item-inner:hover .icon{
    box-shadow: var(--inner-shadow-0);
}

.service-section .service-item-inner:hover .icon::after{
    box-shadow: var(--outer-shadow);
}

.service-section .service-item-inner .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease;
}

.service-section .service-item-inner:hover .icon i{
    color: var(--green);
}

.service-section .service-item-inner h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 10px;
    text-transform: capitalize;
}

.service-section .service-item-inner p{
    font-size: 17px;
    color: var(--text-black-600);
    margin: 0;
    line-height: 26px;
}


/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
>>>>>>>>>>>>>> PORTFOLIO SECTION <<<<<<<<<<<<<<
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

.portfolio-section{
    /* background-color: red; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.portfolio-section .section-title{
    margin-bottom: 40px;
}

.portfolio-section .portfolio-filter{
    /* background-color: red; */
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-section .filter-item{
    /* border: 1px solid red; */
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 17px;
    transition: all 0.3s ease;
}

.portfolio-section .filter-item.active{
    color: var(--green);
}

.portfolio-section .filter-item:hover:not(.active){
    opacity: 0.6;
}

.portfolio-section .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
    /* background-color: red; */
    float: left; /*Pode ser alterado*/
    display: flex;
    flex-wrap: wrap;
}


.portfolio-section .portfolio-item.hide{
    display: none;
}

.portfolio-section .portfolio-item.show{
    display: block;
    animation: fadeInTop 0.5s ease;
    -webkit-animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item-inner{
    padding: 15px;
    border-radius: 5px;
    /* background-color: red; */
    cursor: pointer;
    width: 100%;
}

.portfolio-section .portfolio-item-img img{
    border-radius: 5px;
    width: 100%; height: 167px;
    transition: all 0.3s ease;
    /* object-fit: cover; */
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{
    transform: translateY(-25px);
}

.portfolio-section .portfolio-item-img{
    position: relative;
}

.portfolio-section .portfolio-item-img .view-project{
    /* display: none; */
    font-weight: bold;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    color: var(--green);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}

.portfolio-section .portfolio-item-inner:hover .view-project{
    transform: translateY(0px);
    opacity: 1;
}

.portfolio-section .portfolio-item-details{
    display: none;
}

.portfolio-section .portfolio-item-inner p{
    font-size: 17px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    /* text-transform: capitalize; */
}

.view-project svg{
    margin-right: 4px;
    margin-left: 14px;
}

    /*^^^^^^^^^^^^^^^^^^^ X
    |   PORTFOLIO POPUP   |
    ^^^^^^^^^^^^^^^^^^^^^*/

.portfolio-popup{
    background-color: var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    /*scroll*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.portfolio-popup.open{
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-details{
    /* background-color: red; */
    max-width: 1350px;
    height: 70px; width: calc(85% + 30px);
    margin-top: 20px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.portfolio-popup .pp-details.active{
    opacity: 1;
    padding-top: 300px;
    padding-bottom: 357px;
}

.portfolio-popup .pp-details-inner{
    /* padding: 20px 0; */
    /* background-color: blue; */
    padding-top: 41px;
    padding-bottom: 300px;
}

.portfolio-popup .pp-details-inner, .separator{
    max-height: 100%;
    overflow: hidden;
    opacity: 1;
}

.portfolio-popup .pp-title{
    padding: 0 15px;
}

.portfolio-popup .pp-title h2{
    font-size: 28px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 5px;
    letter-spacing: 0.07rem;
}

.portfolio-popup .pp-title p{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 15px;
    border-bottom: 1px solid var(--bg-black-100);
    padding-bottom: 10px;
}

.portfolio-popup .pp-title p span{
    font-weight: 400;
    text-transform: capitalize;
}

.portfolio-popup .pp-project-details h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 15px;
    text-transform: capitalize;
}

.portfolio-popup .description p{
    font-size: 17px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}

.portfolio-popup .separator{
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}

.portfolio-popup .info{
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}

.portfolio-popup .description{
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px;
}

.portfolio-popup .pp-img{
    /* Image Size ==> (500 >= 1000 x 500 >= 700) */
    /* Default Image Size = 1536x722px */
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.portfolio-popup .pp-main{
    min-height: 100vh;
    /* background-color: blue; */
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-popup .pp-main-inner{
    /* background-color: violet; */
    padding: 70px 0 50px;
    position: relative;
}

.portfolio-popup .pp-close{
    position: absolute;
    right: 0;
    /* background-color: blue; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 15px;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    color: var(--text-black-600);
    cursor: pointer;
    transition: all 0.3s ease;
}

.portfolio-popup .pp-close::after{
    border-radius: 50%;
}

.portfolio-popup .pp-close:hover{
    color: red;
}

.portfolio-popup .pp-project-details-btn{
    position: absolute;
    left: 0;
    /* background-color: red; */
    border-radius: 30px;
    font-size: 17px;
    font-weight: 500px;
    color: var(--green);
    cursor: pointer;
    padding: 0 15px;
    top: 15px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
}

.portfolio-popup .pp-project-details-btn::after{
    border-radius: 30px;
}

.portfolio-popup .pp-project-details-btn i{
    margin-left: 4px;
}

.portfolio-popup .pp-counter{
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    bottom: 5px;
    font-size: 17px;
    color: var(--text-black-600);
}

.portfolio-popup .pp-prev,
.portfolio-popup .pp-next{
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    /* background-color: red; */
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1010;
    color: var(--text-black-900);
    transition: all 0.3s ease;
    opacity: 0.5;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover{
    color: var(--green);
    opacity: 1;
}

.portfolio-popup .pp-prev{
    left: 15px;
}

.portfolio-popup .pp-next{
    right: 15px;
}

.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i{
    line-height: 40px;
}

.portfolio-popup .pp-prev i{
    transform: rotate(180deg);
}

.portfolio-popup .info ul li{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-black-600);
    font-size: 17px;
}

.portfolio-popup .info ul li a{
    color: var(--main);
}

.portfolio-popup .info ul li:last-child{
    margin-bottom: 0;
}

.portfolio-popup .info ul li span{
    font-weight: 400;
}

.info ul li span a{
    border-radius: 50%;
    height: 50px; width: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 7px;
    color: var(--text-black-700);
    text-align: center;
}

.info ul li span a::after{
    border-radius: 50%;
}

.info ul li span a:hover{
    color: var(--green);
}

.portfolio-popup .pp-loader{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; height: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.portfolio-popup .pp-loader.active{
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader div{
    width: 40px;
    height: 40px;
    /*background-color: red;
    */border: 3px solid var(--green);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

/* Infinite Knowledge */
.infinite-knowledge{
    /* background-color: plum; */
    height: 67px;
}

.svgBox{
    width: 300; height: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svgBox svg{
    /* background-color: indigo; */
    cursor: pointer;
    fill: none;
    stroke-width: 10;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    stroke: url(#col);
    stroke-dasharray: 60 172;
    stroke-linecap: round;
    animation: oj 4s linear infinite;
    -webkit-animation: oj 4s linear infinite;
    position: absolute;
    margin-top: 107px;
}

.svgBox svg:nth-of-type(1){
    animation: none;
    -webkit-animation: none;
    stroke: var(--bg-black-50);
    stroke-dasharray: none;
    filter: drop-shadow(-3px -3px 2px rgba(112, 112, 112, 0.075))
            drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.3))
            drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.3));
}

.svgBox svg:nth-of-type(2){
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.svgBox svg::selection{
    background-color: none;
    color: none;
}

@keyframes oj{
    0%{
        stroke-dashoffset: 0;
    }
    100%{
        stroke-dashoffset: 232;
    }
}

/*--------Testimonial Section--------*/

.testimonial-section{
    /* background-color: chocolate; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.testimonial-section .testi-box{
    /* background-color: crimson; */
    width: 100%; max-width: 600px;
    margin: auto;
}

.testimonial-section .testi-slider{
    /* background-color: chartreuse; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    overflow: hidden;
}

.testimonial-section .testi-slider-container{
    display: flex;
    transition: margin 1s ease;
    -webkit-transition: margin 1s ease;
    -moz-transition: margin 1s ease;
    -ms-transition: margin 1s ease;
    -o-transition: margin 1s ease;
}

.testimonial-section .testi-item{
    /* background-color: deeppink; */
    padding: 30px;
    text-align: center;
    position: relative;
    width: 100%;
}

.testimonial-section .testi-item img{
    width: 177px;
    height: 177px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    margin-bottom: 17px;
    cursor: pointer;
}
.testimonial-section .testi-item img:hover{
    opacity: 87%;
}

.testimonial-section .testi-item i{
    position: absolute;
    font-size: 30px;
    color: var(--text-black-600);
    opacity: 0.1;
}

.testimonial-section .testi-item i.left{
    left: 5px;
    top: 5px;
}

.testimonial-section .testi-item i.right{
    right: 5px;
    bottom: 5px;
}

.testimonial-section .testi-item p:nth-of-type(1){
    font-size: 17px;
    line-height: 26px;
    color: var(--text-black-600);
    margin: 0 0 20px;
}

.testimonial-section .testi-item p:nth-of-type(2){
    font-size: 17px;
    color: var(--text-black-700);
    text-transform: capitalize;
}

.testimonial-section .testi-slider-nav{
    /* background-color: goldenrod; */
    margin-top: 30px;
    text-align: center;
}

.testimonial-section .testi-slider-nav span{
    height: 40px;
    width: 40px;
    color: var(--main);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 4px;
}

.testimonial-section .testi-slider-nav span:after{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial-section .testi-slider-nav span i{
    line-height: 40px;
}

/* ------ Contact Section ------ */

.contact-section{
    /* background-color: dodgerblue; */
    padding: 80px 0 80px;
    min-height: 100vh;
}

.contact-section .contact-item{
    /* background-color:palevioletred; */
    flex: 0 0 33.33%; /* 1 row with 3 columns in the center*/
    max-width: 33.33%;
    padding: 15px;
}

.contact-section .contact-item-inner{
    padding: 30px 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
}

.contact-section .contact-item-inner i {
    color: var(--main);
    font-size: 25px;
}

.contact-section .contact-item-inner span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 15px 0 10px;
    text-transform: capitalize;
}

.contact-section .contact-item-inner p{
    font-size: 16px;
    color: var(--text-black-600);
    margin: 10px 0 5px;
    line-height: 26px;
    margin: 0;
    word-break: break-word;
}

.contact-section .contact-form{
    /* background-color: red; */
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-section .w-50{
    /* background: yellowgreen; */
    padding: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 50px;
}

.contact-section .input-group{
    margin: 0 0 25px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.contact-section .input-group:after{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: text;
}

.contact-section .input-group .input-control{
    height: 45px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 30px;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
    font-family: 'Poppins', sans-serif;
    color: var(--text-black-700);
}

.contact-section .input-group textarea.input-control{
    height: 184px;
    padding-top: 15px;
    resize: none;
}

.contact-section .submit-btn{
   flex: 0 0 100%;
   max-width: 100%;
   text-align: right;
   padding: 0 15px;
}


/* >>>>>>>>>>> [ MEDIA QUERIES ] <<<<<<<<<<< */

@media screen and (max-width:1080px){  /*TVs*/
.portfolio-popup .pp-main-inner{
     top: 270px;
   }
}

@media screen and (max-width:1366px){ /*Notebooks*/
.portfolio-popup .pp-main-inner{
   top: 0;
}

.effect-2{
    left: 3%;
    bottom: 7%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.effect-3{
    left: 40%;
    top: -120px;
}
/*
.home-section .home-text h2{
    font-size: 37px;
} */

.effect-5{
    top: 20%;
}

/* .portfolio-section .portfolio-item{
    float: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */
}

@media screen and (max-width:900px){

.effect-2{
    left: 3%;
    bottom: 7%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.effect-3{
    left: 40%;
    top: -120px;
}

.home-section .home-text h2{
    font-size: 37px;
}

.effect-5{
    top: 20%;
}


.portfolio-section .portfolio-item{
    float: none; /*Pode ser alterado*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
}

@media screen and (max-width:500px){

.effect-2{
    left: 3%;
    bottom: 7%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.effect-3{
    left: 40%;
    top: -120px;
}

.home-section .home-text h2{
    font-size: 37px;
}

.effect-5{
    top: 17%;
}
}

@media screen and (max-width:384px){
.home-text .btn-1::before{
    content: "About Me";
}

.effect-2{
    left: 3%;
    bottom: 7%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.effect-3{
    left: 40%;
    top: -120px;
}

.home-section .home-text h2{
    font-size: 37px;
}
}

@media screen and (max-width:360px){
.home-text .btn-1::before{
    content: "About Me";
}

.effect-2{
    left: 3%;
    bottom: 7%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.home-section .home-text h2{
    font-size: 37px;
}

.effect-3{
    left: 20%;
}
}

@media screen and (max-width:320px){ /* JIOPHONE */
.home-text .btn-1::before{
    content: "About Me";
}

.effect-2 div{
    margin: 0 3px 3px;
}

.effect-2{
    left: 3%;
    bottom: 5%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.home-section .home-text h2{
    font-size: 37px;
}

}

@media screen and (max-width:240px){
.home-text .btn-1::before{
    content: "About Me";
    font-size: 17px;
}

.effect-2 div{
    margin: 0 3px 3px;
}

.effect-2{
    left: 3%;
    bottom: 5%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.home-section .home-text h2{
    font-size: 17px;
}

.home-section .home-text h1{
    font-size: 10px;
}
}
